<nav>
    <h2>Navigation</h2>
    <ul>
        <!-- <li><a href="pages/index.html">Home</a></li> -->
        <li><a href="pages/configure-card.html">Configure Card</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/issue-card.html">Issue Card</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/review-applications.html">Review Applications</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/form_template.html">Form Template</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config-form.html">Form Thêm/Sửa Cấu Hình</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config-form-2.html">Form Thêm/Sửa Cấu Hình 2</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/form_create_batch.html">Quản lý lô</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/manage_open_card.html">Quản lý mở thẻ cá nhân</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/manage_open_card_company.html">Quản lý mở thẻ doanh nghiệp</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/manage_customer.html">Quản lý khách hàng</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config_fee.html">Quản lý phí</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config_date.html">Cấu hình chung</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config_nhom_no.html">Cấu hình nhóm nợ - trả góp</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config_lai_suat.html">Cấu hình lãi suất</a></li>
        <li><a href="sgb_ui_website/credit-card-ui/src/pages/config_san_pham_the.html">Cấu hình sản phẩm thẻ - tài liệu</a></li>
    </ul>
</nav>